<div class="row cardrows">
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(1)">
            <img src="../../assets/media/pics/Tagget.png" alt="Tagget" style="width:100%">
            <div class="container">
                <h4><b>Tagget</b></h4>
                <p>Describe in a few words what this course is about, who is this course for, and how is this course going to help your audience go from where they to where they desire to be, within a fixed time frame.</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(2)">
            <img src="../../assets/media/pics/Videlligence.png" alt="Videlligence" style="width:100%">
            <div class="container">
                <h4><b>Videlligence</b></h4>
                <p>Describe in a few words what this course is about, who is this course for, and how is this course going to help your audience go from where they to where they desire to be, within a fixed time frame.</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(3)">
            <img src="../../assets/media/pics/Viddictive.png" alt="Viddictive" style="width:100%">
            <div class="container">
                <h4><b>Viddictive</b></h4>
                <p>Describe in a few words what this course is about, who is this course for, and how is this course going to help your audience go from where they to where they desire to be, within a fixed time frame.</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
</div>

<div class="row cardrows">
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(4)">
            <img src="../../assets/media/pics/Storie.png" alt="Storie" style="width:100%">
            <div class="container">
                <h4><b>Storie</b></h4>
                <p>Describe in a few words what this course is about, who is this course for, and how is this course going to help your audience go from where they to where they desire to be, within a fixed time frame.</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(5)">
            <img src="../../assets/media/pics/Speaq.gif" alt="Speaq" class="speaqgif">
            <div class="container">
                <h4><b>Speaq</b></h4>
                <p>Describe in a few words what this course is about, who is this course for, and how is this course going to help your audience go from where they to where they desire to be, within a fixed time frame.</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(6)">
            <img src="../../assets/media/pics/Socicake.png" alt="Socicake" style="width:100%">
            <div class="container">
                <h4><b>Socicake</b></h4>
                <p>Describe in a few words what this course is about, who is this course for, and how is this course going to help your audience go from where they to where they desire to be, within a fixed time frame.</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
</div>

<div class="row cardrows">
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(7)">
            <img src="../../assets/media/pics/Uduala.png" alt="Uduala" style="width:100%">
            <div class="container">
                <h4><b>Uduala</b></h4>
                <p>Describe in a few words what this course is about, who is this course for, and how is this course going to help your audience go from where they to where they desire to be, within a fixed time frame.</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(8)">
            <img src="../../assets/media/pics/LeadGrow.png" alt="LeadGrow" style="width:100%">
            <div class="container">
                <h4><b>LeadGrow</b></h4>
                <p>Describe in a few words what this course is about, who is this course for, and how is this course going to help your audience go from where they to where they desire to be, within a fixed time frame.</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(9)">
            <img src="../../assets/media/pics/DesignBundle.png" alt="DesignBundle" style="width:100%">
            <div class="container">
                <h4><b>DesignBundle</b></h4>
                <p>Describe in a few words what this course is about, who is this course for, and how is this course going to help your audience go from where they to where they desire to be, within a fixed time frame.</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
</div>

<div class="row cardrows">
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(10)">
            <img src="../../assets/media/pics/AgencyBlitz.png" alt="Agency Blitz" style="width:100%">
            <div class="container">
                <h4><b>Agency Blitz</b></h4>
                <p>Describe in a few words what this course is about, who is this course for, and how is this course going to help your audience go from where they to where they desire to be, within a fixed time frame.</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(11)">
            <img src="../../assets/media/pics/vragency360.png" alt="VR Agency 360" style="width:100%">
            <div class="container">
                <h4><b>VR Agency 360</b></h4>
                <p>Activate Your Ready-Made 360 Virtual Tour Agency Today & Profit Immediately Without Any Budget, Marketing Skills or Technical Experience!</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(12)">
            <img src="../../assets/media/pics/Upreacher.png" alt="Upreacher" style="width:100%">
            <div class="container">
                <h4><b>Upreacher</b></h4>
                <p>Find influencers in ANY Niche who are INTERESTED in paid promotions, choose your budget (even a few dollars is enough to get some traffic) and select from a list of tens of thousands of influencers in your chosen social media network!</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
</div>

<div class="row cardrows">
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(13)">
            <img src="../../assets/media/pics/Videract.png" alt="Videract" style="width:100%">
            <div class="container">
                <h4><b>Videract</b></h4>
                <p>Videract is a cloud-based platform that allows you to Quickly Create profit generating Interactive Videos by letting you add interactive elements that display inside of the video for more than 11% increase in engagement and conversions than traditional videos.</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(14)">
            <img src="../../assets/media/pics/BotLeads.png" alt="Bot Leads" style="width:100%">
            <div class="container">
                <h4><b>Bot Leads</b></h4>
                <p>Describe in a few words what this course is about, who is this course for, and how is this course going to help your audience go from where they to where they desire to be, within a fixed time frame.</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(15)">
            <img src="../../assets/media/pics/FXVisualClips.png" alt="FX Visual Clips" style="width:100%">
            <div class="container">
                <h4><b>FX Visual Clips</b></h4>
                <p>Describe in a few words what this course is about, who is this course for, and how is this course going to help your audience go from where they to where they desire to be, within a fixed time frame.</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
</div>

<div class="row cardrows">
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(16)">
            <img src="../../assets/media/pics/FXFunnel.png" alt="FX Funnel" style="width:100%">
            <div class="container">
                <h4><b>FX Funnel</b></h4>
                <p>Describe in a few words what this course is about, who is this course for, and how is this course going to help your audience go from where they to where they desire to be, within a fixed time frame.</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(17)">
            <img src="../../assets/media/pics/Videoz.png" alt="Videoz Agency" style="width:100%">
            <div class="container">
                <h4><b>Videoz Agency</b></h4>
                <p>Describe in a few words what this course is about, who is this course for, and how is this course going to help your audience go from where they to where they desire to be, within a fixed time frame.</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
    <!--begin::Card-->
    <div class="col-xl-4">
        <div class="card" (click)="onNavigate(18)">
            <img src="../../assets/media/pics/VideoMatic.png" alt="VideoMatic" style="width:100%">
            <div class="container">
                <h4><b>VideoMatic</b></h4>
                <p>Describe in a few words what this course is about, who is this course for, and how is this course going to help your audience go from where they to where they desire to be, within a fixed time frame.</p>
            </div>
        </div>
    </div>
    <!--end::Card-->
</div>