<!--begin::Topbar-->
<ng-container *ngIf="extraSearchDisplay">
    <ng-container *ngIf="extrasUserLayout === 'dropdown'">
        <!--begin::User-->
        <ng-container *ngIf="user$ | async as _user; else elseblock">
            <div class="dropdown" ngbDropdown placement="bottom-right">
                <div class="topbar-item" data-toggle="dropdown" data-offset="0px,0px" ngbDropdownToggle>
                    <div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto">
                        <span class="text-white opacity-70 font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span>
                        <span class="text-white opacity-90 font-weight-bolder font-size-base d-none d-md-inline mr-4">{{ _user.fullname }}</span>
                        <span class="symbol symbol-35">
                            <span class="symbol-label text-white font-size-h5 font-weight-bold bg-white-o-30">{{ _user.fullname[0] }}</span>
                        </span>
                    </div>
                </div>
                <!--end::Toggle-->
                <!--begin::Dropdown-->
                <div ngbDropdownMenu
                     class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg p-0">
                    <app-user-dropdown-inner></app-user-dropdown-inner>
                </div>
            </div>
            <!--end::Dropdown-->
        </ng-container>
        <ng-container #elseblock>
            <div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto">
                <span class="symbol symbol-55" (click)="navigate()">
                    <span class="symbol-label text-white font-size-h5 font-weight-bold bg-white-o-30">Login</span>
                </span>
            </div>
        </ng-container>
        <!--end::User-->
    </ng-container>
</ng-container>
<!--end::Topbar-->